/* Reset básico */
* { margin: 0; 
    padding: 0;
    box-sizing: border-box;
    }
    p, span, a, ul {
     font-family: 'Oswald', sans-serif !important;

}
.container{
  width: 100% !important;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

header{
  width: 100% !important;
  padding: 20px 40px 20px 40px;
  z-index: 1000;
}

body{
  height: 1000px;
}



.item-menu{
  border: 1px solid transparent;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing:2px;
  font-family: Oswald;
  color: #14a1e9;
}

#home{
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    background-color: #1f1e1e;
    letter-spacing:2px;
    color: whitesmoke;
    font-family: Oswald;
}

.item-menu:hover{
  border: 1px solid black !important;
  transition: 0.4s;
  background-color: #1f1e1e !important;
  color: whitesmoke;
}

#box-top{
  position: relative;
  margin-bottom: 200px;

}

#img-top{
  width: 100%;
  z-index: -1000;
}

#logo-tria-top{
  width: 300px;
  z-index: 1000;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}

#proxima-prova{
  position: absolute;
  bottom: -80px;
  left: 350px;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 600;
  z-index: 1000;
  
  
}

#card-prova{
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  font-size: 30px;
  padding: 20px 70px 20px 70px;
  color: black;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: 'Oswald';
  

}

#card-prova button{
padding: 15px;
background-color:  #61ce70;
color: whitesmoke;
font-weight: 600;
border: none;
border-radius: 5px;
}

#section-1{
  border: 1px solid black;

}

h2 {
  font-family: 'Oswald';
  font-size: 30px;
}

#section-1 p{
  font-size: 20px;
}

main{
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#news{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  
}
.news-card {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
  
}

.news-card:hover {
  transform: scale(1.02);
}

.news-card img {
  width: 100%;
  display: block;
}

.news-content {
  padding: 20px;
}

.news-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.news-content p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
}

.news-content a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}